
# BlueJ files
# Compiled class file
# Log file
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.ctxt
*.ear
*.hprof
*.iml
*.jar
*.log
*.pem
*.rar
*.tar.gz
*.war
*.zip
../.gitignore
.idea/
.mtj.tmp/
hadoop-jgit-fs.iml
hadoop-jgit-fs.iml
hs_err_pid*
target/
