
# BlueJ files
*.class
# Compiled class file
*.ctxt
*.ear
../.gitignore
hs_err_pid*
.idea/
*.iml
*.jar
*.log
# Log file
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.rar
target/
target/
*.tar.gz
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.war
*.zip
